* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    background: #f4eae4;
    background-image: url(../img/pattern-2.png);
    background-position: bottom 0 right 0;
    background-size: 300px;
    background-repeat: no-repeat;

    .pattern-3 {
        width: 300px;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}

/* links */
a {
    color: black;
    text-decoration: none;
}

a:visited {
    /* visited link */
    color: black;
}

a:active {
    /* selected link */
    color: FDB92D;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FDB92D;
}


/* buttons */
.button1,
.button-email {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    max-width: 200px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: none;
}

.button1:hover,
.button1:focus,
.button-email:hover,
.button-email:focus {
    cursor: pointer;
    color: white;
    text-decoration: none;
    box-shadow: #FDB92D 250px 0px 0px 0px inset;
}

.button1:visited,
.button-email:visited {
    background-color: black;
    color: white;
}



.page-header__item {
    text-align: center;
    overflow: hidden;

    .navigation-list {
        list-style-type: none;
        align-items: center;
    }

    .navigation-list li {
        display: inline-block;
        margin: 0 20px 0 10px;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 12px;
    }
}



.intro-section {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 80px 30px 160px 30px;

    .headshot-pic {
        width: 190px;
        border-radius: 25%;
        align-items: center;
    }

    .intro-text {
        margin-right: 30px;
        justify-content: flex-start;

        .intro-text__heading {
            font-family: 'Rubik', sans-serif;
            font-size: 60px;
            font-weight: 700;
            margin-top: -10px;
        }

        .introtext__paragraph {
            font-size: 20px;
            margin-top: -25px;
            margin-bottom: 40px;
        }
    }
}


#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #e8ddd7;
    padding: 30px 30px 50px 30px;
    background-image: url(../img/pattern-1.png);
    background-position: top 0 left 10px;
    background-size: 300px;
    background-repeat: no-repeat;

    .about-me__text {
        text-align: left;
        max-width: 1000px;
        font-size: 22px;
        line-height: 1.5;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 10px 0 20px;
        background: #e8ddd7;
        margin-top: -90px;
    }
}



#work {
    background: #e8ddd7;
    padding: 20px 0 100px 0;

    .work-style {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        max-width: 1000px;
        flex-wrap: wrap;
        padding: 10px 20px;

        .work-style__item {
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            text-align: center;
            width: 300px;
            height: 300px;
            perspective: 1000px;
            margin: auto;

            .connection-img,
            .collaboration-img,
            .communication-img {
                width: 220px;
            }

            .connection-text,
            .collaboration-text,
            .communication-text {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                padding: 20px 30px;
            }
        }
    }
}



/* Flip boxes: */

/* position front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 30px;
}

/* horizontal flip on hover */
.work-style__item:hover .flip-box-inner {
    transform: rotateY(180deg);
    border-radius: 30px;
}

/* position front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style front side */
.flip-box-front {
    display: flex;
    flex-direction: column;
    background-color: #f4eae4;
    color: black;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

/* Style back side */
.flip-box-back {
    display: flex;
    background-color: #f4eae4;
    color: black;
    transform: rotateY(180deg);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

/* end of flip boxes */




#contact-me .cta {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 80px 30px 80px 30px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    max-width: 1000px;
    justify-content: flex-start;
}


.page-footer {
    margin-top: auto;
    margin-bottom: 30px;
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* responsive formatting: */

@media all and (max-width: 980px) {

    html {
        background-image: none;
    }

    #work .work-style {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        max-width: 1000px;
        padding: 10px 40px;

        .work-style__item {
            margin: 30px 0;
            width: 220px;
            height: 220px;
            margin: auto;
            margin-top: 20px;

            .connection-img,
            .collaboration-img,
            .communication-img {
                width: 150px;
                height: 150px;
            }

            .connection-text,
            .collaboration-text,
            .communication-text {
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                padding: 20px 30px;
            }
        }
    }


    img .pattern-1,
    .pattern-2,
    .pattern-3 {
        display: none;
    }
}



@media all and (max-width: 760px) {

    html {
        background-image: none;
    }

    #work .work-style {
        display: flex;
        flex-direction: column;
        margin: -20px 0;

        .work-style__item {
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            text-align: center;
            width: 300px;
            height: 300px;
            margin-top: 20px;

            .connection-img,
            .collaboration-img,
            .communication-img {
                width: 220px;
                height: 220px;
            }

            .connection-text,
            .collaboration-text,
            .communication-text {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                padding: 20px 30px;
            }
        }
    }
}


/* phone screens: */
@media all and (max-width: 662px) {

    html {
        background-image: url(../img/yellow-pattern-1.png);
        background-position: top 0 right 0;
        background-size: 250px;
        background-repeat: no-repeat;
    }

    .navigation-list {
        display: none;
    }

    #intro .intro-section {
        padding-bottom: 120px;

        .headshot {
            display: none;
        }
    }

    #about-me {
        padding-bottom: 30px;

        .about-me__text {
            font-size: 17px;
        }
    }

    #work .work-style {
        padding-bottom: 0;
    }

    #contact-me .cta {
        padding: 40px 30px 60px 30px;
    }
}